<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
    <style>
      body {
        display: grid;
        place-items: center;
      }
    </style>
  </head>
  <body>
    <h3>FILE UPLOAD</h3>

    <div>
      <form action="/single" method="post" enctype="multipart/form-data">
        <input type="file" name="fileName" id="" required accept="image/jpeg, image/png, image/svg+xml, application/pdf"/>
        <input type="submit" value="UPLOAD" />
      </form>
      <h3>MULTIPLE FILE UPLOAD</h3>
      <form action="/multiple" method="post" enctype="multipart/form-data">
        <input type="file" name="fileNames" id="" required accept="image/jpeg, image/png, image/svg+xml, application/pdf"/>
        <input type="submit" value="UPLOAD" />
      </form>
    </div>
  </body>
</html>
